.fa-plus-circle{
    text-align: right;
}
.fa-plus-circle:hover{
    cursor: pointer;
}
.search-line{
    margin: 0 auto;
    line-height: 2rem;
    max-width: 420px;
    color: rgb(48, 48, 48);
    transition: 0.3s;
    
}

.search-container{
    text-align: center;
    padding-left: 20px;
}

.light{
    color: rgb(145, 145, 145);
}
