.prev-next-btn a{
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.prev-next-btn a:hover{
    color: rgb(90, 90, 90);

}
.prev-next-btn a:active{
    color: rgb(90, 90, 90);

}

.prev-next-btn{
    margin-bottom: 15px;
}